@import '../App/variables'

.back
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    background-color: #3b4b91
    box-shadow: inset 0 0 0 15px #3b4b91, inset 0 0 0 17px #9099c0
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    text-align: center
    padding: 10%
    text-decoration: none
    &:hover
        text-decoration: none

.backIcon
    margin-bottom: 45px
    svg
        width: 80px
        height: 80px
        fill: #fff

.backTitle
    font-size: 22px
    color: rgb(255, 255, 255)
    font-weight: bold
    line-height: 1.091
    text-align: center
    letter-spacing: -0.2px

.front
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    background-image: linear-gradient( 117deg, rgb(64,79,145) 0%, rgb(78,141,178) 100%)
    display: flex
    align-items: center
    justify-content: center

.frontIcon
    position: relative
    svg
        width: 165px
        height: 165px
        fill: #fff