@import '../App/variables'

.back
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    background-color: #ffffff
    border: 2px solid #ff9626
    box-shadow: inset 0 0 0 2px #ff9626
    display: flex
    align-items: center
    text-align: center
    padding: 4%
    @media (max-width: $breakpoint-extra-small-max)
        flex-flow: column
        justify-content: center

.backIconWrap
    width: 34%
    min-width: 34%
    position: relative
    background-color: #ff9626
    margin-right: 2.2%
    @media (max-width: $breakpoint-extra-small-max)
        width: 58.8%
        min-width: 58.8%
        margin-right: 0
        margin-bottom: 2.2%
    &::before
        content: ''
        display: block
        width: 100%
        padding-bottom: 96%

.backIcon
    width: 67%
    min-width: 67%
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    border-radius: 50%
    background: #fff297
    box-shadow: 0 0 0 1px #ffde9a, 0px 0px 6px 0px rgba(0, 0, 0, 0.22), inset 0 0 0 11px #ffcc66, inset 0 0 0 12px #f8c352
    &::before
        content: ''
        display: block
        padding-bottom: 100%
        width: 100%
    svg
        width: 55%
        height: 55%
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        fill: #7e5c39

.backInfo
    width: 100%

.backTitle
    font-size: 24px
    color: rgb(0, 0, 0)
    text-transform: uppercase
    line-height: 1.365
    font-weight: 300
    margin-top: 7px
    margin-bottom: 12px
    @media (max-width: $breakpoint-extra-large-max)
        font-size: 18px
    @media (max-width: $breakpoint-extra-small-max)
        display: none

.backSubTitle
    font-size: 24px
    font-weight: 700
    color: #614f3c
    background-color: #e1e3e8
    display: inline-block
    line-height: 2.2
    letter-spacing: 2.4px
    width: 100%
    text-align: center
    text-transform: uppercase
    @media (max-width: $breakpoint-extra-large-max)
        font-size: 18px

.front
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    background-color: rgb(247, 248, 251)
    border: 2px solid rgb(232, 232, 232)
    display: flex
    align-items: center
    text-align: center
    padding: 4%
    @media (max-width: $breakpoint-extra-small-max)
        flex-flow: column
        justify-content: center

.frontIconWrap
    width: 34%
    min-width: 34%
    position: relative
    background-color: #fca83b
    margin-right: 2.2%
    @media (max-width: $breakpoint-extra-small-max)
        width: 58.8%
        min-width: 58.8%
        margin-right: 0
        margin-bottom: 2.2%
    &::before
        content: ''
        display: block
        width: 100%
        padding-bottom: 96%

.frontIcon
    width: 67%
    min-width: 67%
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    border-radius: 50%
    background: #fff297
    box-shadow: 0 0 0 1px #ffde9a, 0px 0px 6px 0px rgba(0, 0, 0, 0.22), inset 0 0 0 11px #ffcc66, inset 0 0 0 12px #f8c352
    &::before
        content: ''
        display: block
        padding-bottom: 100%
        width: 100%
    svg
        width: 55%
        height: 55%
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        fill: #a47e43

.frontInfo
    width: 100%

.frontTitle
    font-size: 24px
    color: rgb(0, 0, 0)
    text-transform: uppercase
    line-height: 1.365
    font-weight: 300
    margin-top: 7px
    margin-bottom: 12px
    @media (max-width: $breakpoint-extra-large-max)
        font-size: 18px
    @media (max-width: $breakpoint-extra-small-max)
        display: none

.frontSubTitle
    font-size: 24px
    font-weight: 700
    color: #614f3c
    background-color: #e1e3e8
    display: inline-block
    line-height: 2.2
    letter-spacing: 2.4px
    width: 100%
    text-align: center
    text-transform: uppercase
    @media (max-width: $breakpoint-extra-large-max)
        font-size: 18px