@import '../App/variables'

.back
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    background-color: #f6b251
    box-shadow: inset 0 0 0 15px #f6b251, inset 0 0 0 17px #fad39c
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    text-align: center
    padding: 10%

.backIcon
    margin-bottom: 13px
    img
        width: 52px

.backTitle
    font-size: 22px
    color: rgb(255, 255, 255)
    font-weight: bold
    line-height: 1.091
    text-align: center
    margin-bottom: 29px

.backDesc
    font-size: 16px
    color: rgb(1, 1, 1)
    line-height: 1.5

.front
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    background: linear-gradient( 117deg, rgb(240,119,59) 0%, rgb(254,218,114) 100%)
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    text-align: center

.frontIcon
    text-align: center
    margin-bottom: 9%
    margin-top: 6%

.frontTitle
    font-size: 18px
    color: rgb(254, 254, 254)
    text-transform: uppercase
    line-height: 1.333
    font-weight: bold
    text-align: center
    letter-spacing: 0.8px