@import '../App/variables'

.back
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    background-color: #ee9016
    box-shadow: inset 0 0 0 15px #ee9016, inset 0 0 0 17px #f5c07b
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    text-align: center
    padding: 10%
    text-decoration: none
    &:hover
        text-decoration: none

.backIcon
    margin-bottom: 16%
    width: 29%
    min-width: 29%
    position: relative
    &::before
        content: ''
        display: block
        padding-bottom: 100%
        width: 100%
    svg
        width: 100%
        height: 100%
        fill: #fff
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)

.backTitle
    font-size: 22px
    color: rgb(255, 255, 255)
    font-weight: bold
    line-height: 1.091
    text-align: center

.front
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    background-color: #ee931d
    background-image: linear-gradient(-27deg, #eebf1d 0%, #ee931d 100%)
    display: flex
    align-items: center
    justify-content: center

.frontIcon
    position: relative
    width: 46.4%
    min-width: 46.4%
    &::before
        content: ''
        display: block
        padding-bottom: 100%
        width: 100%
    svg
        width: 100%
        height: 100%
        fill: #fff
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)