.box
    box-shadow: 0 6px 9px rgba(13, 11, 8, 0.27)
    background-color: #46bda3
    background-image: linear-gradient(-27deg, #56c986 0%, #3ab4b9 100%)
    min-height: 100%
    padding: 52px 35px 36px
    box-sizing: border-box
    position: relative
    margin-top: -22px
    &:last-child
        margin-bottom: -34px

.head
    padding-left: 63px
    position: relative
    margin-bottom: 25px

.headIcon
    background: rgba(0,0,0,.4)
    width: 46px
    height: 46px
    fill: #fff
    position: absolute
    left: 0
    top: 0
    padding: 10px
    box-sizing: border-box

.headTitle
    color: #ffffff
    font-size: 18px
    font-weight: 700
    line-height: 22px
    letter-spacing: 0.9px
    margin-bottom: 19px

.headDesc
    color: #ffffff
    font-size: 14px
    font-weight: 600
    line-height: 18px
    letter-spacing: 0.35px

.fields
    padding: 0 64px
    margin-bottom: 15px

.rights
    color: #323232
    font-size: 12px
    display: inline-block
    line-height: 1.25
    cursor: pointer
    font-weight: 600
    margin-bottom: 21px
    input
        margin-right: 8px
    a
        color: #323232
        text-decoration: underline
        &:hover
            text-decoration: underline
            color: #fff

.submit
    text-align: center
    button
        width: 248px
